# ================= GENERAL =================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ================= IDE =================
*.iml
*.ipr
*.iws
.idea/
.vscode/

# ================= FLUTTER =================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# ================= ANDROID =================
/android/app/debug
/android/app/profile
/android/app/release

# ================= PYTHON =================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
.venv/
venv/
env/

# ================= ENV =================
.env

# ================= FIREBASE / SECRETS 🔥 =================
# ONLY ignore firebase admin key
Growwise_backend/*firebase-adminsdk*.json

# ================= AI MODELS =================
*.h5
*.tflite
*.pt
*.pkl

# Ignore full models folder (heavy files)
models/
Growwise_backend/models/

# ================= DATASETS =================
*.csv

# ================= OS FILES =================
Thumbs.db